{% extends "base.html" %}

{% block page_title %}
{% if page_number == 1 %}mtth.org{% else %}mtth.org - page {{ page_number }}{% endif %}
{% endblock %}

{% block body %}
{% for post in posts %}
<div class="post">
    {% include "post_meta.html" %}
    {{ post.rendered_excerpt() }}
    {% if post.has_excerpt %}
    <p class="read-more"><a href="{{ post.url() }}">(continued)</a></p>
    {% endif %}
</div>
{% endfor %}

<div class="paginator pure-g">
    <div class="pure-u-1-2 prev">
        {% if previous_url %}
        <a href="{{ previous_url }}">&#8592; Previous page</a>
        {% endif %}
    </div>

    <div class="pure-u-1-2 next">
    {% if next_url %}
    <a href="{{ next_url }}">Next page &#8594;</a>
    {% endif %}
    </div>
</div>

{% endblock %}
