html {
    border-top: 10px solid #565d64;
    color: #565d64;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #565d64;
}

h1 {
    font-size: 1.17em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.83em;
}

h4 {
    font-size: 0.67em;
}

h5 {
    font-size: 0.67em;
}

blockquote {
    font-family: "Georgia", serif;
    color: #666;
    font-style: italic;
    line-height: 1.8;
    border-left: 5px solid #ddd;
    padding-left: 1em;
    margin: 0;
}

div.content {
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
}

a.brand {
    font-family: 'Changa One', cursive;
    font-size: 7em;
    padding: 0;
    margin: 0;
    text-decoration: none;
    letter-spacing: -7px;
}

.pure-menu a.pure-menu-heading {
    font-family: 'Changa One', cursive;
    text-transform: none;
    font-size: 3em;
}

img {
    width: 100%;
}

.post.list {
    margin-bottom: 50px;
}

.post a {
    text-decoration: underline;
}

.post p.read-more {
    font-size: 80%;
    margin-top: -5px;
}

.post p.read-more a {
    text-decoration: none;
}

.post .excerpt {
    font-weight: bold;
}

.post .body img {
    margin-bottom: 20px;
}

.post .body.center {
    text-align: center;
}

.pure-menu {
    text-align: center;
}

.post-meta {
    font-size: 80%;
    text-align: right;
    float: right;
}

.post-meta a {
    text-decoration: none;
    font-weight: bold;
    color: #565d64;
}

.paginator {
    margin-top: 30px;
    padding: 10px 0;
}

.paginator .next {
    text-align: right;
}

.footer {
    border-top: 5px solid #ddd;
    padding: 10px 0;
}

.footer, .footer a {
    text-align: center;
    font-weight: normal;
    font-size: 90%;
}
